<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cart">
	<insert id="addToCart" parameterType="CartVO">
		<![CDATA[
			insert into cart
				(
					cart_member_id, cart_pdu_detail_code_ref, cart_pdu_size, cart_pdu_color, cart_pdu_quantity
				) 
			
			values
				(
					#{cart_member_id}, #{cart_pdu_detail_code_ref}, #{cart_pdu_size}, #{cart_pdu_color}, #{cart_pdu_quantity}
				)
		]]>
	</insert>
	
	<select id="selectCartList" resultType="CartVO">
		<![CDATA[
			select 
				cart.*, img.pdu_image_file_name, p.pdu_name, p.pdu_discounted_price
			from 
				(select c.* from cart c where c.cart_member_id= 'test') cart ,
				 pdu_category_detail_image img, 
				 pdu_category_detail p 
			where 
				cart.cart_pdu_detail_code_ref = img.pdu_detail_code_ref 
					and 
			  	img.pdu_image_file_type like 'main%' 
			  		and 
			  	cart.cart_pdu_detail_code_ref = p.pdu_detail_code
			 order by cart.cart_code desc
		 ]]>
	</select>
</mapper>