<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cart">

	
	
	<insert id="addToCart" parameterType="CartVO">
		<![CDATA[
			insert into cart
				(
					cart_member_id, cart_pdu_detail_code_ref, cart_pdu_size, cart_pdu_color, cart_pdu_quantity
				) 
			
			values
				(
					#{cart_member_id}, #{cart_pdu_detail_code_ref}, #{cart_pdu_size}, #{cart_pdu_color}, #{cart_pdu_quantity}
				)
		]]>
	</insert>
	
	<select id="selectCartList" resultType="CartVO">
		
			select 
				cart.*, img.pdu_image_file_name, p.pdu_name, p.pdu_discounted_price
			from 
				(select 
					c.* 
				from 
					cart c 
				where 
					c.cart_member_id= #{member_id} ) cart ,
				 pdu_category_detail_image img, 
				 pdu_category_detail p 
			where 
				cart.cart_pdu_detail_code_ref = img.pdu_detail_code_ref 
				and 
			  	img.pdu_image_file_type like 'main%' 
			  	and 
			  	cart.cart_pdu_detail_code_ref = p.pdu_detail_code
			 order by 
			 	cart.cart_code desc
		 
	</select>
	
	<select id="selectCartList1" parameterType="java.util.List" resultType="CartVO">
			select 
				cart.*, img.pdu_image_file_name, p.pdu_name, p.pdu_discounted_price
			from 
				(select 
					c.* 
				from 
					cart c 
				where 
					c.cart_code IN
					( <foreach collection="list" item="item" separator=",">
						#{item}
					</foreach> ) ) cart ,
				 pdu_category_detail_image img, 
				 pdu_category_detail p 
			where 
				cart.cart_pdu_detail_code_ref = img.pdu_detail_code_ref 
				and 
			  	img.pdu_image_file_type like 'main%' 
			  	and 
			  	cart.cart_pdu_detail_code_ref = p.pdu_detail_code
			 order by 
			 	cart.cart_code desc
		 
	</select>
	
	<select id="countingCart" resultType="int">
		select count(*)
		from cart
		where cart_member_id= #{member_id}
	</select>
	
	<!-- MySQL 은 Oracle 과는 달리 UPDATE 나 DELETE 시 자기 테이블의 데이타를 바로 사용 못하므로 아래와 같은 SQL 을 실행시 1093 에러가 발생함.
		Sub Query 를 하나 더 넣고 sub query 결과를 임시 테이블로 만든후에 실행하면 해결됨. -->
	<delete id="removeCart" parameterType="hashMap">
		delete 
		from 
			cart
		where 
			cart_code IN ( 
						select 
							c.cart_code 
						from 
							(select 
								c.cart_code
							from 
								cart c
    						where 
    							cart_member_id = #{memberId}
    						order by 
    							c.cart_code desc 
    						limit #{offsetNum},1) c)
	</delete>
	
	<!-- mysql ifnull이 내가 생각하는대로 작동하지않아. update구문까지 코드가길어짐.. -->
	<select id="checkOverlap" parameterType="CartVO" resultType="int">
		select 
			count(*)
		from 
			cart
		where 
			cart_member_id= #{cart_member_id}
			AND 
			cart_pdu_detail_code_ref = #{cart_pdu_detail_code_ref}
			AND 
			cart_pdu_size = #{cart_pdu_size}
			AND 
			cart_pdu_color = #{cart_pdu_color}
	</select>
	
	<update id="updateToCart" parameterType="CartVO">
		update 
			cart
		set
			cart_pdu_quantity = cart_pdu_quantity + #{cart_pdu_quantity}
		where
			cart_member_id= #{cart_member_id}
			AND 
			cart_pdu_detail_code_ref = #{cart_pdu_detail_code_ref}
			AND 
			cart_pdu_size = #{cart_pdu_size}
			AND 
			cart_pdu_color = #{cart_pdu_color}
	</update>
	
	<update id="updateQuantity" parameterType="CartVO">
		update
			cart
		set
			cart_pdu_quantity = #{cart_pdu_quantity}
		where
			cart_code = #{cart_code}
	</update>
	
	<update id="updateCheck" parameterType="CartVO">
		update
			cart
		set
			check_YN =
			
			<choose>
				<when test="check_YN == 'Y'.toString()">'N'</when>
				<when test="check_YN == 'N'.toString()">'Y'</when>
			</choose>
		where
			cart_code = #{cart_code}
	</update>
</mapper>