<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">

	
	<select id = "productList" resultType ="ProductVO">
		<![CDATA[
			select 
				*
			from 
				pdu_category_detail
			
			]]>
			
			<include refid="search"> </include>
			
			<![CDATA[
				 
			order by 
				pdu_detail_code desc
			limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id ="countPaging" resultType = "int">
		<![CDATA[
			select 
				count(pdu_detail_code)
			from 
				pdu_category_detail
			 
		]]>
		
		<include refid="search"> </include>	
	</select>
	
	<select id ="productDetailInfo" parameterType="int" resultType = "ProductVO">
		<![CDATA[
			select 
				*
			from 
				pdu_category_detail
			where 
				pdu_detail_code = #{pdu_detail_code}  
		]]>
	</select>
	
	<select id ="pduImageList" resultType = "PduImageVO">
		<![CDATA[
			select 
				*
			from 
				pdu_category_detail_image
			where
			    pdu_image_file_type = 'main_image' OR pdu_image_file_type = 'sub_image1'
			order 
				by pdu_detail_code_ref desc
		]]>
	</select>
	
	<select id ="detailImageList" resultType = "PduImageVO">
		<![CDATA[
			select 
				*
			from 
				pdu_category_detail_image
			where
			    pdu_detail_code_ref = ${pdu_detail_code}
		]]>
	</select>
	
	<select id ="pduColorSelect" resultType = "ProductVO">
		<![CDATA[
			select 
				DISTINCT pdu_size_name
			from 
				pdu_color_size_pieces
			where
			    pdu_detail_code_ref = ${pdu_detail_code}
		]]>
	</select>
	
	<select id ="selectColor" resultType = "ProductVO">
		<![CDATA[
			select 
				 pdu_color_name
			from 
				pdu_color_size_pieces
			where
			    pdu_detail_code_ref = ${pdu_detail_code} 
			    AND
			    pdu_size_name = '${pdu_size_name}'
		]]>
	</select>
	
	
	
	<sql id="search">
		<if test="searchType != null">
			<choose>
				<when test="searchType == 'AA'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'AB'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'AC'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'BA'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'BB'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'BC'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'BD'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'C'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'D'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'E'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'FA'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'FB'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'FC'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'FD'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'FE'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'G'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'GA'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'GB'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'HA'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'HB'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<when test="searchType == 'HC'.toString()">
					where
					pdu_category_code_ref = #{searchType}
					<if test="keyword != null">
						AND
						pdu_name like CONCAT('%', #{keyword}, '%')
					</if>						
				</when>
				<otherwise>
					where
					pdu_name like CONCAT('%', #{keyword}, '%')
				</otherwise>
			</choose>
		</if>
	</sql>
</mapper>