<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order">
	
		<select id="checkout" parameterType="java.util.List" resultType="CartVO">
			select 
				cart.*, img.pdu_image_file_name, p.pdu_name, p.pdu_discounted_price
			from 
				(select 
					c.* 
				from 
					cart c 
				where 
					c.cart_code IN
					( <foreach collection="list" item="item" separator=",">
						#{item}
					</foreach> ) ) cart ,
				 pdu_category_detail_image img, 
				 pdu_category_detail p 
			where 
				cart.cart_pdu_detail_code_ref = img.pdu_detail_code_ref 
				and 
			  	img.pdu_image_file_type like 'main%' 
			  	and 
			  	cart.cart_pdu_detail_code_ref = p.pdu_detail_code
			 order by 
			 	cart.cart_code desc
		 
	</select>
</mapper>