<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="admin">
	<select id="searchCate" resultType="AdminVO">
		select category_code, category_code_ref, category_name, depth
		from pdu_category
	</select>
	
	<!-- 새상품 등록 -->
	<insert id="newPrsInsert" parameterType="PduCategoryDetailVO">
		<selectKey resultType="int" keyProperty="pdu_detail_code" order="AFTER">
			select MAX(pdu_detail_code)
			from pdu_category_detail
		</selectKey>
		insert into pdu_category_detail(pdu_category_code_ref,
										pdu_name, 
										pdu_price, 
										pdu_sale_price, 
										pdu_size, 
										pdu_color, 
										pdu_pieces, 
										pdu_content, 
										pdu_classificate)
		values( #{pdu_category_code_ref}, 
				#{pdu_name}, 
				#{pdu_price}, 
				#{pdu_sale_price}, 
			  	#{pdu_size}, 
			  	#{pdu_color}, 
			  	#{pdu_pieces}, 
			  	#{pdu_content}, 
			  	#{pdu_classificate} )
	</insert>

	<insert id="newPrsInsert_img" parameterType="PduImageVO">
	
		<selectKey resultType="int" keyProperty="pdu_detail_code_ref" order="BEFORE">
			select MAX(pdu_detail_code)
			from pdu_category_detail
		</selectKey>
		
		insert into pdu_category_detail_image (pdu_detail_code_ref,
											  pdu_image_file_name,
											  pdu_image_file_type)
		values( #{pdu_detail_code_ref},
				#{pdu_image_file_name},
				#{pdu_image_file_type} )
	</insert>
</mapper>