<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<insert id="memberJoin" parameterType="com.spmall.member.MemberVO">
		<![CDATA[
			insert into tbl_member(member_id, member_pwd, member_name, member_gender, member_phone, member_email1, member_email2, member_addr1, member_addr2, member_addr3, member_addr4)
			values(	#{member_id},
					#{member_pwd},
					#{member_name},
					#{member_gender},
					#{member_phone},
					#{member_email1},
					#{member_email2},
					#{member_addr1},
					#{member_addr2},
					#{member_addr3},
					#{member_addr4}
			)
		]]>
	</insert>
	
	<select id = "idoverlap" parameterType="String" resultType ="int">
		select Count(*)
		from tbl_member
		where member_id = #{member_id};
	</select>
	
	<select id ="commonLogin" resultType="com.spmall.member.MemberVO">
		select *
		from (
				select member_id, member_pwd, 'ROLE_USER' ROLE_NAME
			 	from tbl_member) tbl_all
		where 
			member_id = #{member_id};
	</select>
	
	<select id ="memberInfo" resultType="com.spmall.member.MemberVO">
		select 
			member_id, member_name, member_gender, member_phone, member_email1, member_email2,
			member_addr1, member_addr2, member_addr3, member_addr4, memeber_create_at
		from 
			tbl_member
		where 
			member_id = #{member_id}
	</select>
	
	<update id="memberUpdate">
		update tbl_member 
		set 
			member_phone = #{member_phone},
			member_email1 = #{member_email1},
			member_email2 = #{member_email2},
			member_addr1 = #{member_addr1},
			member_addr2 = #{member_addr2},
			member_addr3 = #{member_addr3},
			member_addr4 = #{member_addr4}
		where member_id = #{member_id}
	</update>
</mapper>